body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.header-img_fondo
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.encabezado a{
    color: rgb(182, 0, 0);
    text-decoration: none;
}

.encabezado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.logo {
    width: 100px;
    height: 100px;
    text-align: center;
}

.titulo {
    text-align: center;
    width: 100vw;
    margin: 0;
}

nav{
    width: 100vw;
    background-color: #f4f4f4;
    padding: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

nav div{
    width: 33.3vw;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav div a {
    color: #000000;
    font-size: large;
    font-weight: bolder;
    text-decoration: none;
}

nav div a:hover {
    color: red;
    transform: scale(1.05);
    transition: 0.3s;
}


main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor-carta{
    border-radius: 4%;
    height: auto;
    width: 300px;
    margin: 2%;
    overflow: hidden;
    background-color: rgb(13, 30, 68);
}

.contenedor-carta:hover{
    box-shadow: 1px  5px 10px whitesmoke;
    transform: scale(1.05);
    transition: 0.3s;
}

.poster-carta{
    height: 300px;
    width: 300px;
    object-fit: cover
}

.descripcion-carta{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(13, 30, 68);
    color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
}

.texto-corto p {
    padding-left: 5%;
    height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


.boton {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
}

.texto_index{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bold;
    color: #ffffff;
    padding-left: 20%;
    padding-right: 20%;
    height: 70vh;
    width: 100vw;
}



footer {
    background-color: #c0c0c0;
    color: #000000;
    text-align: center;
    border-top: 2px solid #444;
    margin: 0;
    padding: 10px;
}


.footer-div
{
    width: 80vw;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#github{
    fill: rgb(0, 0, 0);
    transform: scale(2);
    min-width: 24px;
    margin-bottom: 2%;
    margin-top: 2%;
}

#github:hover{
    fill: red;
    transform: scale(3);
    transition: 0.3s;
}

.footer-enlace
{
    padding-left: 1%;
    width: auto;
    min-width: 200px;
    margin-top: 2vh;
    color: #000000;
    text-decoration: none;
}

.footer-enlace:hover{
    color: red;
    transform: scale(1.05);
    transition: 0.3s;
}